/*login*/
main {
  background-color: var(--backgroundBlack);
}
.login-section {
  margin: 0 35%;
  background-color: var(--backgroundBlack);
  height: auto;
  padding: 3rem;
}
label {
  color: var(--greenText);
}
.msgErro {
  display: block;
  color: red;
}
.hideThis {
  display: none;
}
